apiVersion: apps/v1
kind: Deployment
metadata:
  name: homarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homarr
  template:
    metadata:
      labels:
        app: homarr
    spec:
      securityContext:
        fsGroup: 33
        runAsUser: 33
        runAsGroup: 33
      

      containers:
        - name: homarr
          image: ghcr.io/homarr-labs/homarr:v1.46.0
          ports:
          - containerPort: 3000
            name: http
            protocol: TCP
          env:
          - name: BASE_URL
            value: "https://homarr.aadilagwan.dev"
          - name: TZ
            value: "Asia/Kolkata"          
          envFrom:
            - secretRef:
                name: homarr-container-env
          readinessProbe: null
          livenessProbe: null
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          #   initialDelaySeconds: 30
          #   periodSeconds: 10
          #   timeoutSeconds: 5
          #   failureThreshold: 3
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          #   initialDelaySeconds: 10
          #   periodSeconds: 5
          #   timeoutSeconds: 3
          #   failureThreshold: 3
          volumeMounts:
          - name: homarr-data
            mountPath: /appdata
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
      volumes:
      - name: homarr-data
        persistentVolumeClaim:
          claimName: homarr-data-pvc