apiVersion: v1
kind: Service
metadata:
  name: homarr
  namespace: homarr
spec:
  type: ClusterIP
  selector:
    app: homarr
  ports:
  - name: http
    port: 7575
    targetPort: http
    protocol: TCP