apiVersion: v1
kind: Service
metadata:
  name: pihole-dns
  namespace: pi-hole
spec:
  type: NodePort
  selector:
    app: pihole
  ports:
    - name: dns-udp
      protocol: UDP
      port: 53
      targetPort: 53
      nodePort: 3053
    - name: dns-tcp
      protocol: TCP
      port: 53
      targetPort: 53
      nodePort: 3053
