apiVersion: v1
kind: Service
metadata:
  name: pihole-dns
  namespace: pi-hole
spec:
  type: NodePort
  selector:
    app: pi-hole
  ports:
    - name: dns-udp
      protocol: UDP
      port: 53
      targetPort: 53
      nodePort: 30553
    - name: dns-tcp
      protocol: TCP
      port: 53
      targetPort: 53
      nodePort: 30553

---
apiVersion: v1
kind: Service
metadata:
  name: pihole-web
  namespace: pi-hole
spec:
  selector:
    app: pi-hole
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
